{% extends "personal_base_generic.html" %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-2">
			<img alt="The man, the myth" src="/static/images/index.png" class="home-image"/>
		</div>
		<div class="col-md-10">
			<div class="jumbotron">
				<h2>
					Hello, I'm Henry
				</h2>
				<p>
					I'm a Computer Engineering student at the U of MN.<br>
					I like to make stuff. Below are some of the things I've helped make.
				</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4" style=text-align:center>
			<h2>
				Formula SAE
			</h2>
			<button class="btn btn-block alt-button" onclick="window.location.href='{% url 'personal_homepage:power-distribution-module' %}'">Power Distribution Module</button>
			<button class="btn btn-block alt-button" onclick="window.location.href='{% url 'personal_homepage:ride-height-sensor' %}'">Ride Height Sensor</button>
			<button class="btn btn-block alt-button" onclick="window.location.href='{% url 'personal_homepage:strain-gauge-amp' %}'">Strain Gauge Amp</button>
			<button class="btn btn-block alt-button" onclick="window.location.href='{% url 'personal_homepage:slip-angle-sensor' %}'">Slip Angle Sensor</button>
		</div>
		<div class="col-md-4" style=text-align:center>
			<h2>
				KHAB Systems
			</h2>
			<button class="btn btn-block alt-button" onclick="window.location.href='{% url 'personal_homepage:khab-2018' %}'">Summer 2018 Work</button>
		</div>
		<div class="col-md-4" style=text-align:center>
			<h2>
				This Site
			</h2>
			<button class="btn btn-block alt-button" style="margin-bottom:15px" onclick="window.location.href='{% url 'dartboard:index' %}'">Janus</button>
		</div>
	</div>
</div>
{% endblock %}
