{% extends "base_generic.html" %}

{% block content %}

{% if form.errors %}
<p>Your username and password combination isn't correct. Please try again.</p>
{% endif %}

{% if next %}
{% if user.is_authenticated %}
<p>Your account doesn't have access to this page. To proceed,
  please login with an account that has access.</p>
{% else %}
<p>Please login to see this page.</p>
{% endif %}
{% endif %}

<div class="row">
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
    <form method="post" action="{% url 'login' %}" class="login-table">
      {% csrf_token %}
      <div class="row login-text">
        <div class="col-md-12">
          {{ form.username.label_tag }}
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          {{ form.username }}
        </div>
      </div>
      <div class="row login-text">
        <div class="col-md-12">
          {{ form.password.label_tag }}
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          {{ form.password }}
        </div>
      </div>
      <input type="submit" value="Login" class="btn btn-success btn-block login-button" />
      <input type="hidden" name="next" value="{{ next }}" />
    </form>
    {# Assumes you setup the password_reset view in your URLconf #}
    <p style="text-align:center;"><a href="{% url 'dartboard:signup' %}">Need an account?</a></p>
  </div>
</div>

{% endblock %}
