{% extends "base_generic.html" %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="page-header header">
      <h1>
        Janus: The Decision Making Dartboard
      </h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-6">
    <p style="text-align:center">Janus is a project built on AWS using Django to help remove whatever semblance of agency you think have in your life. It's meant to help make decisions for you when you're tired, don't care, or just want to simplify your decision making process.</p>
  </div>
</div>
{% endblock %}
