{% extends "base_generic.html" %}
{% load staticfiles %}
{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="header">
			<h1>
				Add your Choices
			</h1>
		</div>
	</div>
</div>
<form action="" method="post">
  <div class="row" id="1">
    <div class="col-md-4">
    </div>
    <div class="col-md-4 choice-text">
      {% csrf_token %}
      {{ form.c1.help_text }} {{ form.c1 }}
    </div>
  </div>
  <div class="row" id="2">
    <div class="col-md-4">
    </div>
    <div class="col-md-4 choice-input">
      {{ form.c2.help_text }} {{ form.c2 }}
    </div>
  </div>
  <div class="row" id="3">
    <div class="col-md-4">
    </div>
    <div class="col-md-4 choice-input">
      {{ form.c3.help_text }} {{ form.c3 }}
    </div>
  </div>
  <div class="row" id="4">
    <div class="col-md-4">
    </div>
    <div class="col-md-4 choice-input">
      {{ form.c4.help_text }} {{ form.c4 }}
    </div>
  </div>
  <div class="row" id="5">
    <div class="col-md-4">
    </div>
    <div class="col-md-4 choice-input">
      {{ form.c5.help_text }} {{ form.c5 }}
    </div>
  </div>
  <div class="row" id="6">
    <div class="col-md-4">
    </div>
    <div class="col-md-4 choice-input">
      {{ form.c6.help_text }} {{ form.c6 }}
    </div>
  </div>
  <div class="row" id="7">
    <div class="col-md-4">
    </div>
    <div class="col-md-4 choice-input">
      {{ form.c7.help_text }} {{ form.c7 }}
    </div>
  </div>
  <div class="row" id="8">
    <div class="col-md-4">
    </div>
    <div class="col-md-4 choice-input">
      {{ form.c8.help_text }} {{ form.c8 }}
    </div>
  </div>
  <div class="row" id="9">
    <div class="col-md-4">
    </div>
    <div class="col-md-4 choice-input">
      {{ form.c9.help_text }} {{ form.c9 }}
    </div>
  </div>
  <div class="row" id="10">
    <div class="col-md-4">
    </div>
    <div class="col-md-4 choice-input">
      {{ form.c10.help_text }} {{ form.c10 }}
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4 choice-input">
      <button onclick="showNext()" id="11" type="button" class="btn btn-block alt-button">Add Choice</button>
      <input type="submit" value="Submit" class="btn btn-block default-button">
			{% if not user.is_authenticated %}
			<a href="{% url 'login'%}">Login to save your choices!</a>
			{% endif %}
    </div>
  </div>
</form>

<script src="{% static '/js/input.js' %}"></script>

{% endblock %}
