{% extends "base_generic.html" %}

{% block content %}
{% if choice_list %}
{% regroup choice_list by decision.timestamp as choices %}
<div class="row">
	<div class="col-md-12">
		<h1 style="text-align:center">Choices</h1>
		{% for decision in choices %}
		{{ decision.grouper }}
		<ul class="choice-list">
			{% for choice in decision.list %}
			<li>{{ choice.name }}</li>
			{% endfor %}
		</ul>
		{% endfor %}
	</div>
</div>
{% else %}
<div class="row">
	<div class="col-md-1">
	</div>
	<div class="col-md-10">
		<p style="text-align:center">You have entered no choices.</p>
	</div>
</div>
{% endif %}
{% endblock %}
