{% extends "base_generic.html" %}

{% load staticfiles%}
{% block content %}
<script>
  var options = [];
  var decision = '{{ decision.name }}'
  {% for choice in choices %}
    options.push( '{{ choice.name }}' );
  {% endfor %}
</script>

<div class="row">
	<div class="col-md-12">
		<div class="page-header header">
      <h1>
      <span class="choose-text"></span>
      <span class="dots"></span>
      </h1>
    </div>
  </div>
</div>

<script src="{% static '/js/choose.js' %}"></script>


{% endblock %}
