{% extends "base_generic.html" %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="header">
			<h1>
				Janus: The Decision Making Dartboard
			</h1>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-2">
	</div>
	<div class="col-md-8">
		<form action="{% url 'dartboard:add-choices-user' %}">
			<button type="submit" class="btn btn-block default-button">
				Start!
			</button>
		</form>
	</div>
</div>
<div class="row">
	<div class="col-md-2">
	</div>
	<div class="col-md-8">
		<p class="view-count">Hello {% if user.is_authenticated %}{{ user.get_username }}! You've made {{ num_choices }}{% else %}stranger! Users have made {{ num_choices }}{% endif %}{% if num_choices == 1 %} choice{% else %} choices{% endif %} with Janus.</p>
	</div>
</div>
{% endblock %}
