{% extends "base_generic.html" %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="page-header header">
      <h1>
        Dartboard
      </h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">

    <button type="button" class="btn btn-block btn-danger choose-button">
      Choose!
    </button>
    <button type="button" class="btn btn-success btn-block configure-button">
      Set Decision
    </button>
    <button type="button" class="btn btn-success btn-block configure-button">
      Add Choices
    </button>

  </div>
</div>
{% endblock %}
