{% extends "base_generic.html" %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="page-header header">
			<h1>
				Janus: The Decision Making Dartboard
			</h1>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<button type="button" class="btn btn-block btn-danger choose-button">
			Choose!
		</button>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<button type="button" class="btn btn-success btn-block configure-button">
			Set Decision
		</button>
	</div>
	<div class="col-md-6">
		<button type="button" class="btn btn-success btn-block configure-button">
			Add Choices
		</button>
	</div>
</div>
<div class="row">
	<div class="col-md-2">
		<p class="view-count">You've visited {{ num_visits }}{% if num_visits == 1 %} time{% else %} times{% endif %}.</p>
	</div>
</div>
{% endblock %}
