.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}
.choose-button {
  margin: 4px !important;
}
.configure-button {
  margin: 4px !important;
}
.header {
  text-align: center;
  margin-top: 10px;
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
}
